asgiref
beautifulsoup4
Django
django-bootstrap4
django-crispy-forms
django-recaptcha
django-render-partial
persiantools
Pillow
python-memcached
pytz
six
sorl-thumbnail
soupsieve
sqlparse
