{% extends 'shared/base.html' %}
{% load static %}
{% load render_partial %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="wrapper default">
        <div class="container">
            <div class="row">
                <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                    <div class="account-box">
                        <a href="#" class="logo">
                            <img src="{% static 'assets/img/logo.png' %}" alt="">
                        </a>
                        <div class="account-box-title">تغییر رمز عبور</div>
                        <div class="account-box-content">
                            <form method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="parent-btn mb-3 text-center">
                                    <button class="dk-btn dk-btn-info" type="submit">
                                        تغییر
                                        <i class="fa fa-sign-in"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% render_partial 'mini_footer' %}
    </div>

{% endblock %}