{% extends 'shared/base.html' %}
{% block content %}
    <div class="wrapper default">
        <div class="container">
            <div class="row">
                <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                        <div class="alert alert-success" role="alert">
                                <a href="#" class="alert-link"> تغییر کلمه ی عبور با موفقیت انجام شد</a>
                        </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}