{% extends 'shared/base.html' %}

{% load i18n %}
{% block title %}
Restore Password Done
{% endblock %}
{% block content %}

    <h4 class="text-center">{% trans 'بازیابی کلمه عبور' %}</h4>
    <br>
    <div class="alert alert-success p-4" role="alert">
        <h4 class="alert-heading">ارسال شد</h4>
         <p>در صورت وجود حسابی با ایمیلی که وارد کرده اید ، دستورالعمل هایی را برای تنظیم رمز عبور به شما ایمیل کرده ایم.</p>
        <p> شما باید آنها را به زودی دریافت کنید.</p>

        <br>

         <p>اگر ایمیلی دریافت نکردید ، لطفاً مطمئن شوید آدرسی را که با آن ثبت نام کرده اید وارد کرده اید و پوشه هرزنامه خود را بررسی کنید.</p>
    </div>
<a href="{% url 'accounts:log_in' %}" class="btn btn-info p-3">بازگشت به صفحه ی ورود</a>
{% endblock %}
