{% load static %}

<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
<link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
<!--     Fonts and icons     -->
<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %}">
<!-- CSS Files -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/now-ui-kit.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/plugins/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/plugins/owl.theme.default.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'slider/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
{#<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">#}